<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Health Data</title>
  </head>
  {% include 'includes/base.html' %}
  <body>
    <div class="d-grid gap-2" style="margin-right:20px; margin-left:20px;">
        <a type="button" data-bs-toggle="collapse" class="btn btn-primary dropdown-toggle"
            href="#data-list" style="float: right;">Detail list</a>
    </div>
    <div class="collapse" id="data-list">
        <p style="margin: 15px;"></p>
        <div class="card" style="margin-right:20px; margin-left:20px; margin-bottom:5px;">
            <div class="card-body" style="height:420px">
                <table class="table table-hover table-small" style="height: 400px; width: 100%; display: block; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th class="col-1" style="position:sticky; top:-1px;background-color:#FFF">
                                Number
                            </th>
                            <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                Date
                            </th>
                            <th class="col-3" style="position:sticky; top:-1px;background-color:#FFF">
                                Temperature
                            </th>
                            <th class="col-3" style="position:sticky; top:-1px;background-color:#FFF">
                                Health Beat
                            </th>
                            <th class="col-3" style="position:sticky; top:-1px;background-color:#FFF">
                                Blood Pressure
                            </th>
                            <th class="col-4" style="position:sticky; top:-1px;background-color:#FFF">
                                Remark
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for healthData in healthDatas reversed %}
                        <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                {{healthData.saveDate}}
                            </td>
                            <td>
                                {{healthData.data_temperature}}
                            </td>
                            <td>
                                {{healthData.data_heartBeat}}
                            </td>
                            <td>
                                {{healthData.data_bloodPressure}}
                            </td>
                            <td>
                                {{healthData.remark}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>

