<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Health Data</title>
  </head>
  {% include 'includes/base.html' %}
  {% load getValue %}
  <body>
    <section class="section mt-3">
        <div class="card" style="margin-right:20px; margin-left:20px; border-color: black; background-color:#565c64;">
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div style="width: 60%;height: 60%; margin-left: 20%; background-color:white; border-radius: 5px;">
                            <canvas id="chart-temp"></canvas>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="width: 60%;height: 60%; margin-left: 20%; background-color:white; border-radius: 5px;">
                            <canvas id="chart-HB"></canvas>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="width: 60%;height: 60%; margin-left: 20%; background-color:white; border-radius: 5px;">
                            <canvas id="chart-BP-sys"></canvas>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="width: 60%;height: 60%; margin-left: 20%; background-color:white; border-radius: 5px;">
                            <canvas id="chart-BP-dia"></canvas>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="width: 60%;height: 60%; margin-left: 20%; background-color:white; border-radius: 5px;">
                            <canvas id="chart-Spo2"></canvas>
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <p></p>
        <!-- Detail List Table -->
        <div class="collapse" id="data-list">
            <p style="margin: 15px;"></p>
            <div class="card" style="margin-right:20px; margin-left:20px; margin-bottom:5px; border-color: black;">
                <div class="card-body">
                    <table id="table1" class="table table-hover table-small" style="height: 350px; width: 100%; display: block; overflow-y: scroll;">
                        <thead>
                            <tr>
                                <th class="col-1" style="position:sticky; top:-1px;background-color:#FFF">
                                    Number
                                </th>
                                <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                    Date
                                </th>
                                <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                    Temperature(˚C)
                                </th>
                                <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                    Heartbeat(bpm)
                                </th>
                                <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                    Blood Pressure(mmHg)
                                </th>
                                <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                    Blood Oxygen(%)
                                </th>
                                <th class="col-4" style="position:sticky; top:-1px;background-color:#FFF">
                                    Remark
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for healthData in healthDatas|dictsortreversed:"saveDate" %}
                            <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    {{healthData.saveDate}}
                                </td>
                                <td>
                                    {{healthData.data_temperature}}
                                </td>
                                <td>
                                    {{healthData.data_heartBeat}}
                                </td>
                                <td>
                                    {{healthData.data_bloodPressure_sys}}/{{healthData.data_bloodPressure_dia}}
                                </td>
                                <td>
                                    {{healthData.data_spo2}}
                                </td>
                                <td>
                                    {{healthData.remark}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2" style="margin-top:5px;margin-right:20px; margin-left:20px;">
            <a id="bt-data-list" type="button" data-bs-toggle="collapse" class="btn btn-secondary dropdown-toggle"
                href="#data-list" style="float: right; margin-bottom:5px;">Detail list</a>
        </div>
    </section>
  </body>
</html>

<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable1 = new simpleDatatables.DataTable(table1);

    function resizeIt(textarea) {
        textarea.style.height = "";
        textarea.style.height = this.scrollHeight + 2 + "px";
    }
    $('tbody tr').on('click', function () {
        var trs = document.querySelectorAll("tr");
        trs.forEach(function (tr) {
            tr.removeAttribute('style');
        })
        $(this).css("--bs-table-accent-bg", "rgba(0, 0, 0, 0.075)")
        // color: var(--bs-table-hover-color);
    });
</script>

<script>
    var ctx = document.getElementById('chart-temp');
    var data = [{% for value in ImportDatas %} {{temp_perTime|return_item:value.id|return_item:0}}, {% endfor %} ];
    var labels =[{% for value in ImportDatas %} '{{temp_perTime|return_item:value.id|return_item:1}}/{{temp_perTime|return_item:value.id|return_item:2}}/{{temp_perTime|return_item:value.id|return_item:3}}', {% endfor %}];
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Date',
                borderColor: '#435ebe',
                fill: false,
                data: data,
                datalabels: {
                    borderWidth: 0.5,
                    borderRadius: 3,
                    color: '#f8f9fa',
                    backgroundColor: '#435ebe',
                    align: 'top',
                    anchor: 'start',
                    font: {
                        weight: 'bold',
                    }
                }
            }],
        },
        options: {
            responsive: true,
            plugins:{
                title: {
                    display: true,
                    text: 'Temperature(˚C) Trend',
                    font:{size:17},
                }
            }
        },
        // plugins: [ChartDataLabels],
    });
    // ========================================================
    var ctx = document.getElementById('chart-HB');
    var data = [{% for value in ImportDatas %} {{HB_perTime|return_item:value.id|return_item:0}}, {% endfor %} ];
    var labels =[{% for value in ImportDatas %} '{{HB_perTime|return_item:value.id|return_item:1}}/{{HB_perTime|return_item:value.id|return_item:2}}/{{HB_perTime|return_item:value.id|return_item:3}}', {% endfor %}];
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Date',
                borderColor: '#435ebe',
                fill: false,
                data: data,
                datalabels: {
                    borderWidth: 0.5,
                    borderRadius: 3,
                    color: '#f8f9fa',
                    backgroundColor: '#435ebe',
                    align: 'top',
                    anchor: 'start',
                    font: {
                        weight: 'bold',
                    }
                }
            }],
        },
        options: {
            responsive: true,
            plugins:{
                title: {
                    display: true,
                    text: 'HeartBeat(bpm) Trend',
                    font:{size:17},
                }
            }
        },
        // plugins: [ChartDataLabels],
    });
    // ========================================================
    var ctx = document.getElementById('chart-BP-sys');
    var data = [{% for value in ImportDatas %} {{BP_sys_perTime|return_item:value.id|return_item:0}}, {% endfor %} ];
    var labels =[{% for value in ImportDatas %} '{{BP_sys_perTime|return_item:value.id|return_item:1}}/{{BP_sys_perTime|return_item:value.id|return_item:2}}/{{BP_sys_perTime|return_item:value.id|return_item:3}}', {% endfor %}];
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Date',
                borderColor: '#435ebe',
                fill: false,
                data: data,
                datalabels: {
                    borderWidth: 0.5,
                    borderRadius: 3,
                    color: '#f8f9fa',
                    backgroundColor: '#435ebe',
                    align: 'top',
                    anchor: 'start',
                    font: {
                        weight: 'bold',
                    }
                }
            }],
        },
        options: {
            responsive: true,
            plugins:{
                title: {
                    display: true,
                    text: 'Blood Pressure Systolic(mmHg) Trend',
                    font:{size:17},
                }
            }
        },
        // plugins: [ChartDataLabels],
    });
    // ========================================================
    var ctx = document.getElementById('chart-BP-dia');
    var data = [{% for value in ImportDatas %} {{BP_dia_perTime|return_item:value.id|return_item:0}}, {% endfor %} ];
    var labels =[{% for value in ImportDatas %} '{{BP_dia_perTime|return_item:value.id|return_item:1}}/{{BP_dia_perTime|return_item:value.id|return_item:2}}/{{BP_dia_perTime|return_item:value.id|return_item:3}}', {% endfor %}];
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Date',
                borderColor: '#435ebe',
                fill: false,
                data: data,
                datalabels: {
                    borderWidth: 0.5,
                    borderRadius: 3,
                    color: '#f8f9fa',
                    backgroundColor: '#435ebe',
                    align: 'top',
                    anchor: 'start',
                    font: {
                        weight: 'bold',
                    }
                }
            }],
        },
        options: {
            responsive: true,
            plugins:{
                title: {
                    display: true,
                    text: 'Blood Pressure Diastolic(mmHg) Trend',
                    font:{size:17},
                }
            }
        },
        // plugins: [ChartDataLabels],
    });
    // ========================================================
    var ctx = document.getElementById('chart-Spo2');
    var data = [{% for value in ImportDatas %} {{Spo2_perTime|return_item:value.id|return_item:0}}, {% endfor %} ];
    var labels =[{% for value in ImportDatas %} '{{Spo2_perTime|return_item:value.id|return_item:1}}/{{Spo2_perTime|return_item:value.id|return_item:2}}/{{Spo2_perTime|return_item:value.id|return_item:3}}', {% endfor %}];
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Date',
                borderColor: '#435ebe',
                fill: false,
                data: data,
                datalabels: {
                    borderWidth: 0.5,
                    borderRadius: 3,
                    color: '#f8f9fa',
                    backgroundColor: '#435ebe',
                    align: 'top',
                    anchor: 'start',
                    font: {
                        weight: 'bold',
                    }
                }
            }],
        },
        options: {
            responsive: true,
            plugins:{
                title: {
                    display: true,
                    text: 'Blood Oxygen(%) Trend',
                    font:{size:17},
                }
            }
        },
        // plugins: [ChartDataLabels],
    });
</script>

<script>
    $("#chart_card_1").hide();
    function changeYearFunc(z) {
            {% for i in return_years %}
            if(z=={{forloop.counter}}){
                var currentYear = document.getElementById( "selectType" ).value;
                $("#chart_card_"+currentYear).hide();
                $("#chart_card_{{forloop.counter}}").show();
            }
            {% endfor %}
            
        }
</script>


