<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html height="100%">
  <head>
    <title>Import Data</title>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script type="text/javascript">
      $(document).ready(function () {
        GetData();
      });

      function GetData() {
        var url =
          'https://api.thingspeak.com/channels/1866132/feeds.json?api_key=5GGKW35T2PBTAOZP&results=2';
        $.ajax({
          url: url,
          type: 'GET',
          contentType: 'application/json',
          //dataType: "json",
          //crossDomain: true,
          success: function (data, textStatus, xhr) {
            $.each(data, function (i, item) {
              if (i == 'feeds') {
                var ubound = item.length;
                $('#id_data_temperature').val(item[ubound - 1].field1);
                $('#id_data_heartBeat').val(item[ubound - 1].field2);
                $('#id_data_bloodPresusure').val(item[ubound - 1].field3);
                var my_input1 = document.getElementById('txtField1').value;
                var my_input2 = document.getElementById('txtField2').value;

                // Add them together and display
                var sum = parseInt(my_input1) + parseInt(my_input2);
                // int sum =item[ubound - 1].field2+item[ubound - 1].field1;
                $('#sum').val(sum);
              }
            });
          },
          error: function (xhr, textStatus, errorThrown) {
            alert(errorThrown);
          },
        });

      }
    </script>
  </head>
  {% include 'main/navbar.html' %}
  <!-- <body height="100%">
    <h3>Table 1:</h3>
    <input id="txtField1" type="text" /><br />
    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/1866132/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"
    ></iframe>
    <h3>Table 2:</h3>
    <input id="txtField2" type="text" /><br />
    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/1866132/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"
    ></iframe
    ><br/>
    <input id="sum" type="text" /><br />
  </body> -->
  <body height="100%">
    <!-- {{healthDatas}} -->
    <form action="" method="POST">
      {% csrf_token %}
        <table>
          <tr>
            <th>
              {{form.data_temperature.label}}
            </th>
            <td>
              {{form.data_temperature}}
            </td>
          </tr>
          <tr>
            <th>
              {{form.data_heartBeat.label}}
            </th>
            <td>
              {{form.data_heartBeat}}
            </td>
          </tr>
          <tr>
            <th>
              {{form.data_bloodPressure.label}}
            </th>
            <td>
              {{form.data_bloodPressure}}
            </td>
          </tr>
          <tr>
            <th>
              {{form.remark.label}}
            </th>
            <td>
              {{form.remark}}
            </td>
          </tr>
        </table>
        <div class="form-group col-md-2">
            <input class="btn btn-success" style="margin-top: 30px;" type="submit" value="SAVE" onclick="saveAlert()"/>
        </div>
      </div>
  </form>
  </body>
</html>
<script>
  // function saveAlert(){
  //   alert("Saved Sucessfully")
  // }
</script>
