<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Import Data</title>
    {% load static %}
  </head>
  {% include 'includes/base.html' %}
  <body>
    {{saved}}
    <section class="section mt-3">
      <div class="card" style="margin-right:20px; margin-left:20px; margin-bottom:5px; border-color: black;">
          <div class="card-header" style="height:50px">
              <div class="row m-0 align-items-center">
                  <div class="col-10 col-md-10">
                      <h4>Import Health Data 
                        {% if messages %}
                        {% for message in messages %}
                         ({{ message }})
                        {% endfor %}
                        {% endif %}
                      </h4>
                  </div>
              </div>
          </div>

          <div class="card-body" style="height:420px">
            <form action="" method="POST">
              {% csrf_token %}
                <table>
                  <tr>
                    <th>
                      {{form.data_temperature.label}}(˚C)
                    </th>
                    <td>
                      {{form.data_temperature}}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      {{form.data_heartBeat.label}}(bpm)
                    </th>
                    <td>
                      {{form.data_heartBeat}}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      {{form.data_bloodPressure_sys.label}}(mmHg)
                    </th>
                    <td>
                      {{form.data_bloodPressure_sys}}/{{form.data_bloodPressure_dia}}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      {{form.remark.label}}
                    </th>
                    <td>
                      {{form.remark}}
                    </td>
                  </tr>
                </table>
                <div class="form-group col-md-2">
                    <input class="btn btn-success" style="margin-top: 10px;" type="submit" value="SAVE" onclick="saveAlert()"/>
                </div>
              </div>
            </form>
          </div>
      </div>
    </section>
  </body>
</html>
<script>
  // function saveAlert(){
  //   if($('#id_data_temperature').value >= 0 && $('#id_data_heartBeat').value >= 0 && $('#id_data_bloodPressure').value >= 0){
  //   alert("Saved Successfully")
  //   }
  // }

  $(document).ready(function () {
        GetData();
      });

      function GetData() {
        var url =
          'https://api.thingspeak.com/channels/1897432/feeds.json?api_key=YEIG305U41JZMZ0O&results=2';
        // project

        $.ajax({
          url: url,
          type: 'GET',
          contentType: 'application/json',
          //dataType: "json",
          //crossDomain: true,
          success: function (data, textStatus, xhr) {
            $.each(data, function (i, item) {
              if (i == 'feeds') {
                var ubound = item.length;
                $('#id_data_temperature').val(item[ubound - 1].field1);
                $('#id_data_heartBeat').val(item[ubound - 1].field2);
                $('#id_data_bloodPressure_sys').val(item[ubound - 1].field3);
                $('#id_data_bloodPressure_dia').val(item[ubound - 1].field4);
              }
            });
          },
          error: function (xhr, textStatus, errorThrown) {
            alert(errorThrown);
          },
        });

      }
</script>
