<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Health Report</title>
  </head>
  {% include 'includes/base.html' %}
  {% load getValue %}

  <body>
    <section class="section mt-3">
        <div class="card" style="margin-right:20px; margin-left:20px; margin-bottom:5px; border-color: black;">
            <div class="card-header" style="height:50px">
                <div class="row m-0 align-items-center">
                    <div class="col-10 col-md-10">
                        <h4>Health Report</h4>
                    </div>
                </div>
            </div>
  
            <div class="card-body">
                <h6>You newest Health Data is...</h6>
                <table class="table table-hover table-small">
                    <tr>
                        <th>Temperature (˚C)</th>
                        <th>Heartbeat (bpm)</th>
                        <th>Blood Pressure (mmHg)</th>
                        <th>Blood Oxygen (mmHg)</th>
                    </tr>
                    <tr>
                        <td>{{newestData.data_temperature}}</td>
                        <td>{{newestData.data_heartBeat}}</td>
                        <td>{{newestData.data_bloodPressure_sys}}/{{newestData.data_bloodPressure_dia}}</td>
                        <td>{{newestData.data_spo2}}</td>
                    </tr>
                </table>
                <div class="d-grid gap-2" style="margin-top:5px">
                    <a id="bt-temp-advice" type="button" data-bs-toggle="collapse" class="btn btn-secondary dropdown-toggle"
                        href="#temp-advice" style="float: left; margin-bottom:5px;">
                        {% if temp_message != "Temperature Not Yet Upload" %}
                        Your Temperature is:
                        {% endif %} 
                        {{temp_message}}
                    </a>
                </div>
                <div class="collapse" id="temp-advice">
                    <div class="card" style="margin-bottom:5px; border-color: black;">
                        <div class="card-body">
                            {% for i in temp_advice %}
                            {% if forloop.first %}
                            <h5>{{temp_advice|return_item:0}}</h5>
                            {% else %}
                            {{temp_advice|return_item:forloop.counter0}}<br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2" style="margin-top:5px">
                    <a id="bt-HB-advice" type="button" data-bs-toggle="collapse" class="btn btn-secondary dropdown-toggle"
                        href="#HB-advice" style="float: left; margin-bottom:5px;">
                        {% if HB_message != "Heartbeat Not Yet Upload" %}
                        Your Heartbeat is:
                        {% endif %} 
                        {{HB_message}}
                    </a>
                </div>
                <div class="collapse" id="HB-advice">
                    <div class="card" style="margin-bottom:5px; border-color: black;">
                        <div class="card-body">
                            {% for i in HB_advice %}
                            {% if forloop.first %}
                            <h5>{{HB_advice|return_item:0}}</h5>
                            {% else %}
                            {{HB_advice|return_item:forloop.counter0}}<br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2" style="margin-top:5px">
                    <a id="bt-BP-advice" type="button" data-bs-toggle="collapse" class="btn btn-secondary dropdown-toggle"
                        href="#BP-advice" style="float: left; margin-bottom:5px;">
                        {% if BP_message != "Blood Pressure Not Yet Upload" %}
                        Your Blood Pressure is:
                        {% endif %} 
                        {{BP_message}}
                    </a>
                </div>
                <div class="collapse" id="BP-advice">
                    <div class="card" style="margin-bottom:5px; border-color: black;">
                        <div class="card-body">
                            {% for i in BP_advice %}
                            {% if forloop.first %}
                            <h5>{{BP_advice|return_item:0}}</h5>
                            {% else %}
                            {{BP_advice|return_item:forloop.counter0}}<br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2" style="margin-top:5px">
                    <a id="bt-Spo2-advice" type="button" data-bs-toggle="collapse" class="btn btn-secondary dropdown-toggle"
                        href="#Spo2-advice" style="float: left; margin-bottom:5px;">
                        {% if Spo2_message != "Blood Oxygen Not Yet Upload" %}
                        Your Blood Oxygen is:
                        {% endif %} 
                        {{Spo2_message}}
                    </a>
                </div>
                <div class="collapse" id="Spo2-advice">
                    <div class="card" style="margin-bottom:5px; border-color: black;">
                        <div class="card-body">
                            {% for i in Spo2_advice %}
                            {% if forloop.first %}
                            <h5>{{Spo2_advice|return_item:0}}</h5>
                            {% else %}
                            {{Spo2_advice|return_item:forloop.counter0}}<br>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
  </body>
</html>