<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Health Data</title>
  </head>
  {% include 'includes/base.html' %}
  <body>
    {{ temp_value_arr }}<br>
    {{ all_date_arr }}
    <section class="section mt-3">
        <div class="card" style="margin-right:20px; margin-left:20px;">
            <div class="card">
                <div class="card-header" style="height:50px">
                    <div class="row m-0 align-items-center">
                        <div class="col-10 col-md-10">
                            <h4>Health Data Trend</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="chart-temp"></canvas>
                </div>
            </div>
        </div>

        <!-- Detail List Table -->
        <div class="d-grid gap-2" style="margin-top:5px;margin-right:20px; margin-left:20px;">
            <a id="bt-data-list" type="button" data-bs-toggle="collapse" class="btn btn-primary dropdown-toggle"
                href="#data-list" style="float: right;">Detail list</a>
        </div>
        <div class="collapse" id="data-list">
            <p style="margin: 15px;"></p>
            <div class="card" style="margin-right:20px; margin-left:20px; margin-bottom:5px;">
                <div class="card-body">
                    <table id="table1" class="table table-hover table-small" style="height: 400px; width: 100%; display: block; overflow-y: scroll;">
                        <thead>
                            <tr>
                                <th class="col-1" style="position:sticky; top:-1px;background-color:#FFF">
                                    Number
                                </th>
                                <th class="col-3" style="position:sticky; top:-1px;background-color:#FFF">
                                    Date
                                </th>
                                <th class="col-2" style="position:sticky; top:-1px;background-color:#FFF">
                                    Temperature
                                </th>
                                <th class="col-3" style="position:sticky; top:-1px;background-color:#FFF">
                                    Health Beat
                                </th>
                                <th class="col-3" style="position:sticky; top:-1px;background-color:#FFF">
                                    Blood Pressure
                                </th>
                                <th class="col-4" style="position:sticky; top:-1px;background-color:#FFF">
                                    Remark
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for healthData in healthDatas reversed %}
                            <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    {{healthData.saveDate}}
                                </td>
                                <td>
                                    {{healthData.data_temperature}}
                                </td>
                                <td>
                                    {{healthData.data_heartBeat}}
                                </td>
                                <td>
                                    {{healthData.data_bloodPressure}}
                                </td>
                                <td>
                                    {{healthData.remark}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>

<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable1 = new simpleDatatables.DataTable(table1);

    function resizeIt(textarea) {
        textarea.style.height = "";
        textarea.style.height = this.scrollHeight + 2 + "px";
    }
    $('tbody tr').on('click', function () {
        var trs = document.querySelectorAll("tr");
        trs.forEach(function (tr) {
            tr.removeAttribute('style');
        })
        $(this).css("--bs-table-accent-bg", "rgba(0, 0, 0, 0.075)")
        // color: var(--bs-table-hover-color);
    });
</script>
<!-- 
<script>
    var config = {
        type: 'line',
        data: {
            datasets: [{
                data: {{ temp_value_arr }},
                backgroundColor: '#435ebe',
                label: 'Temperature',
                datalabels: {color: '#f8f9fa'}
            }],
            // labels: {{ all_date_arr }}
            labels: [1,2,3,4],
        },
        options: {
            responsive: true,
            plugins:{
                title: {
                    display: true,
                    text: 'Temperature Trend',
                }
            }

        },
        plugins: [ChartDataLabels],
    };

    var ctx = document.getElementById('chart-temp').getContext('2d');
    var tempChart = new Chart(ctx, config);
</script> -->

<script>
    var xValues = [50,60,70,80,90,100,110,120,130,140,150];
    var yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
    new Chart("chart-temp", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>
    
    </body>
    </html>
    
    
    


